/*reset*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* estilo del body */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(173, 173, 173);
}

/*estilo de el menu*/

body header {
    display: flex;
    justify-content: end;
}

body header nav ul li a {
    text-decoration: none;
    color: white;
}

body header nav ul li {
    font-weight: bold;
    display: inline;
    padding: 1rem;
    transition: 0, 5s;
}

header nav ul li:hover {
    background-color: rgba(3, 3, 187, 0.986);
    box-shadow: 1px 1px 3px black;
    text-decoration: underline;
}

body header nav {
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    flex-flow: row nowrap;
    background-color: blue;
    border: 0.3rem solid black;
    border-radius: 1rem;
    width: 37.5rem;
}

body header nav ul {
    padding: 15px;
}

/* estilo del footer */
.footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: #072849;
    padding: 10px;
    margin-top: 10px;
    color: white;
}

.footer__subt {
    font-size: 20px;
    font-weight: bold;
}

/*estilo de contact*/

.contacto__formulario__titulo {
    border: 4px double black;
    background-color: yellow;
    font-size: 25px;
}

.contacto__formulario__caja {
    background-color: greenyellow;
    text-align: center;
}

.contacto__formulario {
    margin: 20px 400px;
}

/* estilos de sed */
body main img {
    height: 200px;
    width: 300px;
}

.contenedorsed {
    display: grid;
    margin: 3rem;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
    border: 0.3rem solid black;
    grid-template-areas:
        "hijo1 hijo2"
        "hijo4 hijo3"
        "hijo5 hijo6";
}

.contenedorsed__hijo1 {
    grid-area: hijo1;
    padding: 2rem;
    align-self: center;
}

.contenedorsed__hijo2 {
    grid-area: hijo2;
    padding: 2rem;
}

.contenedorsed__hijo3 {
    grid-area: hijo3;
    padding: 2rem;
}

.contenedorsed__hijo4 {
    grid-area: hijo4;
    padding: 2rem;
}

.contenedorsed__hijo5 {
    grid-area: hijo5;
    padding: 2rem;
}

.contenedorsed__hijo6 {
    grid-area: hijo6;
    padding: 2rem;
}
.contenedorsed div img{
    width:60%;
}
main section div h2 {
    font-size: xx-large;
    margin: 0.5rem;
}

/* estilos del h1 */
body main h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    margin-bottom: 2rem;
}

/* estilos de Productos */

.contenedorpro {
    display: flex;
    justify-content: center;
}

.contenedorpro__hijo {
    margin: 0rem 1rem;
    padding: 1rem 0rem;
    width: 33.3%;
    text-align: center;
    border: 0.3rem solid black;
    overflow: auto;
    transition: 1s;
}

.contenedorpro__hijo h2 {
    padding: 1rem;
}

.contenedorpro__hijo p {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.contenedorpro__hijo:hover {
    transform: scale(1.08);
}

.contenedorpro__hijo img {
    width: 66.6%;
}

.contenedorpro span {
    padding: 0.5rem;
}